@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lancelot&display=swap");

:root {
	--light-blue: #699fad;
	--mid-blue: #3a708e;
	--dark-blue: #2b454f;
	--black: #111215;
	--very-dark-green: #151d1a;
	--dark-green: #1d3230;
	--mid-green: #314e3f;
	--light-green: #4f5d42;
	--very-light-green: #9a9f87;
	--white: #ede6cb;
	--light-yellow: #f5d893;
	--light-orange: #e8b26f;
	--mid-orange: #b6834c;
	--dark-orange: #704d2b;
	--brown: #40231e;
	--black2: #151015;
}

* {
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--mid-blue);
	height: 100vh;
}
